* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery-item {
  width: 200px;
  text-align: center;
  border: 3px solid red;

  img {
    max-width: 100%;
  }
}

.lightbox {
  display: none;
  border: 14px solid blue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a2c798;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;

  img {
    max-width: 90%;
    max-height: 70vh;
  }

  p {
    color: #fff;
    margin-top: 10px;
    text-align: center;
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    flex: 30px;
  }
}
